@media (max-width: 380px) {
  div.user-info > p {
    display: none;
  }
}
@media (max-width: 480px) {
  header div {
    height: 60px;
  }
  header a {
    height: 30px;
  }

  .text-24px {
    font-size: 24px;
  }

  .book-list {
    grid-gap: 1.525rem;
  }

  .modal-content {
    width: 92%;
    padding: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .book-list {
    grid-gap: 1.6rem;
  }
  .modal-content {
    width: 70%;
  }
}
